body{
    background-color: white;
}

#fix{
    display: flex;
    justify-content: center;
    justify-items: center;
    z-index: 0;
}

a{
    color: black;
    font-size: 70px;
    text-decoration: none;
    padding-top: 400px;
}

#center{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto, auto;
    justify-content: center;
    justify-items: center;
}
button{
    font-size: xx-large;
}