body{
    margin: 0;
}

/* This allows you to be able to position html elements starting from the top left instead of displaying as block under p5.js canvas */
#html-body{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.offer{
    position: absolute;
    width: 200px;
    top: 600;
    left: 800;
}

#flower1{
    display: none;
    z-index: 2;
}
#flower2{
    display: none;
    z-index: 2;
}
#flower3{
    display: none;
    z-index: 2;
    justify-items: right;
}
#flower4{
    display: none;
    z-index: 2;
    justify-items: right;
}